BTC_PAYMENT_ADDRESS=bc1qy87gyxqt2axyxvan6vkacauha2v9t2lue03wtc
LTC_PAYMENT_ADDRESS=LSYPkJLC6ep6CW8diehXEEnWtDBf41LUHn
ETH_PAYMENT_ADDRESS=0x9F27d6594CdBEA53Ef02717A5b08056C7A1010Af
SOL_PAYMENT_ADDRESS=3FeNLRTHjwS1BwTfwHosL4ogrKwiXoqUgh93oxkkyCb1
ETHERSCAN_API_KEY=your_etherscan_api_key
RESEND_API_KEY=your_resend_api_key
FROM_EMAIL=Bloom Invoices <onboarding@resend.dev>
SITE_URL=https://noidclol.github.io/bloom2
